---
layout: layouts/home.njk
---
<h1>This is my about page!</h1> 


Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

I am a person that writes stuff. Edit me and watch the `about` page get updated!

Some things worth noting:

1. This page is using the layout as defined in `layouts/writing.njk`. Read [this](https://www.11ty.dev/docs/layouts/) for more info.
2. I don't know what `templateClass` in the front matter is supposed to mean
3. `eleventyNavigation` in the front matter allows me to quickly define my nav bar, the nav title? and the order to display.

<hr>
<h1>wtf I can add css ^ in markdown file? 🤯</h1> 

I have a few questions:

>  They need only the writing tag to be added to this collection.
1. What does the "writing" tag above refer to? 

> Add the nav tag to add a template to the top level site navigation. For example, this is in use on index.njk and about/index.md.
2. I think it's referred to as `eleventyNavigation` as opposed to `nav` tag. You can add this in the front matter of any .njk articles or .md files

{% set maxwritings = collections.writings.length | min(3) %}
<h1>Latest {% if maxwritings == 1 %}writing{% else %}{{ maxwritings }} writings{% endif %}</h1>

{% set writingslist = collections.writings | head(-3) %}
{% set writingslistCounter = collections.writings | length %}
{% include "writingslist.njk" %}

<p>More writings can be found in <a href="{{ '/writings/' | url }}">the archive</a>.</p>
