---
layout: layouts/home.njk
---
<h1>Hi! (ツ)/</h1>

<p>My name is Simon.</p>

<img src="img/ly-and-i.jpg" alt="An image of my wife and I">

<p>Here's an image of my beautiful wife and I. In case you were wondering, my eyes are not naturally like that 😅</p>

<p>I blog mostly about software engineering, entrepreneurship, life and my side projects. These are 3 of my latest posts:</p>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More articles can be found in <a href="{{ '/library/' | url }}">the library</a>.</p>

<p>I am currently on a sabbatical to discover my <a href="https://g.co/kgs/LWnMvS">ikigai</a>.</p>

<p>If you want to get in touch, please reach out to me on <a href="https://t.me/itsmeSTYJ">telegram</a> or <a href="https://twitter.com/itsmeSTYJ">twitter</a>.  p.s. don't forget to wear your masks!</p>
