---
layout: layouts/home.njk
---
<h1>Hi! (ツ)/</h1>

<p>My name is Simon.</p>

<img src="./img/ly-and-i.jpg" alt="An image of my wife and I" style="width: 18em;">

<p>Here's an image of my beautiful wife and I. No, my eyes are not naturally like that. I'm just acting goofy in this picture 😅 p.s. Don't forget to wear your masks!</p>

<p>I am currently on a sabbatical to discover my <a href="https://g.co/kgs/LWnMvS">ikigai</a>.</p>

<p>If you want to get in touch, please reach out to me on <a href="https://t.me/itsmeSTYJ">telegram</a> or <a href="https://twitter.com/itsmeSTYJ">twitter</a>.</p>
<!-- 
{% set maxwritings = collections.writings.length | min(3) %}
<h3>Latest {% if maxwritings == 1 %}writing{% else %}{{ maxwritings }} writings{% endif %}</h3>

{% set writingslist = collections.writings | head(-3) %}
{% set writingslistCounter = collections.writings | length %}
{% include "writingslist.njk" %}

<p>More writings can be found in <a href="{{ '/writings/' | url }}">the archive</a>.</p> -->
