---
layout: layouts/home.njk
permalink: /tags/
eleventyNavigation:
  key: Tags
  order: 2
---
<h1>Tags</h1>

{# This page is here http://localhost:8080/tags/ #}
{#  #}

{# {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="writing-tag">{{ tag }}</a>
{% endfor %} #}

{% set categorisedlist = collections.writings %}
{% include "categorisedlist.njk" %}