---
layout: layouts/home.njk
permalink: /tags/
---
<h1>Tags</h1>
<p>I'm not very good with categorising so if there are too many tags here... (｡>﹏<｡)</p>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="writing-tag">{{ tag }}</a>
{% endfor %}



