---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

{# This page is here http://localhost:8080/tags/ #}

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
