---
layout: layouts/home.njk
permalink: /library/
---
<h1>Library</h1>

<p>The library contains a collection of articles that I've written to date. These are my personal thoughts, experiences and learnings that I have penciled down. I hope that they will prove useful to you as it did to me.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
