---
layout: layouts/home.njk
permalink: /writings/
eleventyNavigation:
  title: Writings
  order: 1
---

<h1>Writings</h1>

{% set writingslist = collections.writings %}
{% include "writingslist.njk" %}
