---
layout: layouts/home.njk
permalink: /writings/
eleventyNavigation:
  key: Writings
  title: Latest
  order: 1
---
<h1>Writings</h1>

{% set writingslist = collections.writings %}
{% include "writingslist.njk" %}
