---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for writing in collections.writings | reverse %}
    {%- set absolutewritingUrl %}{{ writing.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutewritingUrl }}",
      "url": "{{ absolutewritingUrl }}",
      "title": "{{ writing.data.title }}",
      "content_html": {% if writing.templateContent %}{{ writing.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ writing.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
