<ol reversed class="writinglist">
{% for writing in writingslist | reverse %}
  <li class="writinglist-item{% if writing.url == url %} writinglist-item-active{% endif %}">
    <a href="{{ writing.url | url }}" class="writinglist-link">{% if writing.data.title %}{{ writing.data.title }}{% else %}<code>{{ writing.url }}</code>{% endif %}</a>
    <time class="writinglist-date" datetime="{{ writing.date | htmlDateString }}">{{ writing.date | readableDate }}</time>
    {% for tag in writing.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="writing-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>
