---
title: Admin Bot (CryptoSGBob)
date: 2018-11-27
tags:
  - projects
  - bots
layout: layouts/post.njk
---

<img src="/img/CSGBob.png" alt="A screenshot of the user interface of CryptoSG Bob bot"/>

<h2>What is this project about?</h2>

<p>
  I built a telegram bot that introduces a decentralised tribunal style approach to banning malicious users in a telegram group.
</p>

<p>
  Instead of relying on a few trusted users with admin privileges, any user can initiate a vote on another member of the group by replying to their message with the
  <code>/bob</code>
  command. Other members of the community will vote to determine if the kick should be executed. It's fastest fingers first so the option (to kick or to save) that hits the voting threshold first will be executed.
</p>

<h2>Why did I do this?</h2>

<p>
  Milodino, the founder of
  <a href="https://t.me/cryptosg">CryptoSG</a>, first chanced upon
  <a href="https://github.com/backmeupplz/banofbot">BanOfBot</a>
  (Bob) when he was looking for a free solution to decentralise the banning process. Bob worked as expected but it was lacking certain features e.g. limiting the number of bans per day, removing ban requests that are not completed within 24 hours.
</p>

<p>
  Milodino asked if I could fork the code and add these features in but since I was not familiar with Javascript then, I decided that it was faster to remake Bob entirely and CryptoSGBob was born!
</p>

<h2>How did I do it?</h2>

<p>
  Similar to my
  <a href="../exchange-bot/">exchange bot</a>, I used the
  <a href="https://github.com/python-telegram-bot/python-telegram-bot">PythonTelegramBot</a >
  library to build the CryptoSGBob. I used a local variable to manage the current state of each proposal so if you reset the bot, all proposals will be gone since it is stored in memory. 😅
</p>

<h2>Extras</h2>

<p>
  If you are looking to introduce a similar bot into your telegram groups, I highly recommend that you use the original
  <a href="https://github.com/backmeupplz/banofbot">BanOfBot</a>
  instead of my modified version.
</p>
<p>
  BanOfBot is still (as of 5th Nov 2020) being upgraded, maintained and works for any groups but CryptoSGBob only works for CryptoSG affiliated groups. That said, the source code for CryptoSGBob can be found
  <a href="https://github.com/Crypto-SG/CSGBob">here</a>
  if you're interested in it.
</p>