---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<ul>
  {%- set nextpost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextpost %}<li>Next: <a href="{{ nextpost.url | url }}">{{ nextpost.data.title }}</a></li>{% endif %}
  {%- set previouspost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previouspost %}<li>Previous: <a href="{{ previouspost.url | url }}">{{ previouspost.data.title }}</a></li>{% endif %}
</ul>
