---
layout: layouts/base.njk
templateClass: tmpl-writing
---
<h1>{{ title }}</h1>

{{ content | safe }}

<ul>
  {%- set nextwriting = collections.writings | getNextCollectionItem(page) %}
  {%- if nextwriting %}<li>Next: <a href="{{ nextwriting.url | url }}">{{ nextwriting.data.title }}</a></li>{% endif %}
  {%- set previouswriting = collections.writings | getPreviousCollectionItem(page) %}
  {%- if previouswriting %}<li>Previous: <a href="{{ previouswriting.url | url }}">{{ previouswriting.data.title }}</a></li>{% endif %}
</ul>
